[Unit]
Description=Pi Temperature Sensor Data Logger
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pi_temp_sensor
ExecStart=/home/pi/pi_temp_sensor/venv/bin/python3 /home/pi/pi_temp_sensor/logger.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
